/* header {
  background-color: #ede7f6;
} */

/* footer {
  background-color: lightcyan;
} */


.container-narrow{
  max-width: 690px;
}

hr {
  margin: 0px;
}

.caption {
  font-size: 1rem;
}

.subtitle {
  font-size: 1.5rem;
}

.reporte-card a {
  color: #212529
}

.text-normal {
  font-size: 1rem;
}